n8n-workflows/3-verify-otp.json
{
  "name": "Verify OTP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verify-otp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-3",
      "name": "Webhook - Verify OTP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM otp_verification WHERE token_number = '{{ $json.tokenNumber }}' AND contact = '{{ $json.contact }}' AND otp_code = '{{ $json.otp }}' AND expiry_time > NOW() ORDER BY created_at DESC LIMIT 1"
      },
      "id": "postgres-3",
      "name": "Check OTP",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-2",
      "name": "OTP Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM otp_verification WHERE token_number = '{{ $json.tokenNumber }}' AND contact = '{{ $json.contact }}'"
      },
      "id": "postgres-4",
      "name": "Delete Used OTP",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"verified\": true, \"message\": \"OTP verified successfully\" } }}"
      },
      "id": "response-3",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"verified\": false, \"message\": \"Invalid or expired OTP\" } }}"
      },
      "id": "response-4",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook - Verify OTP": {
      "main": [
        [
          {
            "node": "Check OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check OTP": {
      "main": [
        [
          {
            "node": "OTP Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OTP Valid?": {
      "main": [
        [
          {
            "node": "Delete Used OTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Used OTP": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
