n8n-workflows/5-ongoing-complaints.json
{
  "name": "Get Ongoing Complaints",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "ongoing-complaints",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-5",
      "name": "Webhook - Get Ongoing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT complaint_token, reporter_name, incident_type, incident_date, status, submission_date, nearest_police_station, incident_description, financial_loss FROM complaints WHERE status IN ('pending', 'under_investigation', 'assigned') ORDER BY submission_date DESC"
      },
      "id": "postgres-7",
      "name": "Get Active Complaints",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"complaints\": $json } }}"
      },
      "id": "response-6",
      "name": "Return Complaints",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook - Get Ongoing": {
      "main": [
        [
          {
            "node": "Get Active Complaints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Complaints": {
      "main": [
        [
          {
            "node": "Return Complaints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
